[[Build]]
  base = "frontend"
  command = "yarn install && yarn build"
  publish = "build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  YARN_VERSION = "1.22.22"
